<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8">
  <meta name="todo" content="tasks aplication">
  <meta name="keywords" content="HTML5, CSS, Javascript">
  <title>ToDO app</title>
</head>

<body>

  <nav>
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      {% if user.is_authenticated %}
        <li>
          <a href="{% url 'tasks' %}">Tasks pending</a>
        </li>
        <li>
          <!-- <a href="/tasks/completed">Tasks completed</a> -->
          <a href="{% url 'tasks_completed' %}">Tasks completed</a>
        </li>

        <li>
          <!-- <a href="/tasks/create/">Crear tarea</a> -->
          <a href="{% url 'create_task' %}">Crear tarea</a>

        </li>
        <li>
          <a href="{% url 'logout'  %}">logout</a>
          <!-- <a href="/logout/">logout</a> -->
        </li>
      {% else %}
        <li>
          <a href="{% url 'signup' %}">Create account</a>
          <!-- <a href="/signup/">Create account</a> -->
        </li>
        <li>
          <a href="{% url 'signin' %}">Login</a>
          <!-- <a href="/signin/">Login</a> -->
        </li>
      {% endif %}
      <li>
        <a href="/dirs/">dirs</a>
      </li>

    </ul>
  </nav>

  {% block content %}

  {% endblock %}

</body>

</html>
